language: php

git:
  depth: 1

cache:
  directories:
    - vendor

notifications:
  email: false

before_script:
  - travis_retry composer self-update

env:
  global:
    - DEFAULT_COMPOSER_INSTALL_FLAGS="--no-interaction --no-progress"

jobs:
  include:
    -
      stage: Test
      php: "7.1"
      before_script:
        - composer install $DEFAULT_COMPOSER_INSTALL_FLAGS
      script:
        - ./vendor/bin/phpunit

    -
      stage: Test
      php: "7.2"
      before_script:
        - composer install $DEFAULT_COMPOSER_INSTALL_FLAGS
      script:
        - ./vendor/bin/phpunit

    -
      stage: Test
      php: "7.3"
      before_script:
        - composer install $DEFAULT_COMPOSER_INSTALL_FLAGS --ignore-platform-reqs
      script:
        - ./vendor/bin/phpunit

    -
      stage: Test
      php: "nightly"
      before_script:
        - composer install $DEFAULT_COMPOSER_INSTALL_FLAGS --ignore-platform-reqs
      script:
        - ./vendor/bin/phpunit

  allow_failures:
    - php: nightly
