language: php

cache:
  directories:
    - vendor

notifications:
  on_success: never
  on_failure: never

before_script:
  - travis_retry composer self-update

jobs:
  include:
    -
      stage: Test
      php: "7.1"
      before_script:
        - composer install
      script:
        - ./vendor/bin/phpunit

    -
      stage: Test
      php: "7.2"
      before_script:
        - composer install
      script:
        - ./vendor/bin/phpunit
      after_success:
        - mkdir -p build/logs
        - travis_retry php ./vendor/bin/php-coveralls -v
